<p>Merhaba,</p> <br/>
<p>Şifrenizi sıfırlamak için aşağıdaki bağlantıya tıklayınız</p> <br/>
<p><a href="$resetUrl" style="color:blue; font-weight:bold;">Şifremi Sıfırla</a></p>
<p>Bu bağlantı <b>3 dakika</b> içinde geçerliliğini yitirecektir.</p>
<p>Eğer bu talebi siz yapmadıysanız, lütfen bu e-postayı dikkate almayın.</p>
<p>İyi günler dileriz,</p>
<p><b>$appName</b> Ekibi</p>
